<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=99cab5f446a82f1261c766567992fe1e&auto=format&fit=crop&w=2850&q=80');">
  <div class="navbar-wagon">
    <div class="navbar-flex">
      <div class="navbar-wagon-right">
        <ul class="page-scroll smooth-scroll">
          <a id="navbar-text" href="#about-me" class="navbar-wagon-item navbar-wagon-link">About</a>
          <a id="navbar-text" href="#my-skills" class="navbar-wagon-item navbar-wagon-link">Skills</a>
          <a id="navbar-text" href="#previous-work" class="navbar-wagon-item navbar-wagon-link">Work</a>
          <a id="navbar-text" href="#where" class="navbar-wagon-item navbar-wagon-link">Location</a>
          <a id="navbar-text" href="#contact" class="navbar-wagon-item navbar-wagon-link">Contact</a>
        </ul>
      </div>
      <hr class="top">
    </div>
  </div>
  <div class="banner-content">
    <h3 id="banner-title">Ben Fanning</h3>
    <p id="app"></p>
  </div>
</div>
<div id="about-me" class="white-banner">
  <div class="container">

    <div class="about-title text-center">
      <div class="title-and-cv">
        <h1>About Me</h1>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="text-center col-xs-12 col-sm-10 col-sm-offset-1">
        <p id="line-height">I am a 23 year old full-stack developer with a passion for front-end design. I'm obsessed with making a site look as clean as possible and everything that goes along with that. Back when I was teaching skiing I used to claim that "if it looks good, it is good" and I maintain that mantra for web development.</p>
      </div>
    </div>

    <div class="row no-gutters row-spacer flex-test">
      <div class="about-text-left">
        <p id="line-height">I grew up in Surrey and lived there for the first 18 years of my life before moving to Plymouth to study Politics and International Relations for 3 years. Post graduation I travelled to the Canadian Rockies where I lived for a couple of years working as a ski Instructor at Mt. Norquay in Banff.</p>
      </div>
      <div data-aos="fade-right" data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" text-center"><%= image_tag "Ski", width: 200, height: 200, id:"avatar" %>
      </div>
    </div>

    <div class="row no-gutters row-spacer flex-test">
      <div data-aos="fade-left" data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="text-center"><%= image_tag "wagon-logo", width: 200, height: 200, id: "avatar" %></div>
      <div class="about-text-right">
        <p id="line-height">I decided to move back to London in 2017 in order to pursue a career in tech. Having started to teach myself Ruby and Javascript with some online courses I took the decision to accelerate my learning and joined Le Wagon's intensive nine-week coding bootcamp. During the course of this programme my team designed <%= link_to "voyagr.co.uk", "https://www.voyagr.co.uk/", target: "_blank", class: "voyagr" %>, a facebook chatbot which provides personalised travel inspiration, this gave me valuable experience designing mobile first web pages.</p>
      </div>
    </div>

    <div class="row no-gutters row-spacer flex-test">
      <div class="about-text-left">
        <p id="line-height">Following the bootcamp I was asked to return as a teaching assistant for the next batch of students, this has allowed me to consolidate my existing knowledge as well as providing me with the opportunity of debugging code written in a variety of different styles. Since then I have graduated to teaching on the course. Alongside these responsibilities I have also taken on a mobile development contract using React Native and Ruby on Rails.</p>
      </div>
      <div data-aos="fade-right" data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="text-center"><%= image_tag "Ben", width: 200, height: 200, id: "avatar" %></div>
    </div>

      <div class="text-center col-xs-12 col-sm-10 col-sm-offset-1">
        <p id="line-height">Away from tech, my main passions are skiing/snowboarding, sailing, skating and struggling to surf.</p>
        <br>
        <br>
        <button type="button" class="btn btn-primary btn-lg" id="resume-btn" data-toggle="modal" data-target="#myModal">Résumé</button>
        <a href="../../assets/benFanning.pdf" download="BenFanning">
          <button type="button" class="btn btn-success btn-lg dwn-btn">Download</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="my-skills" class="colored-banner">
  <div id="white-font" class="container">
    <h2>My Skills</h2>
    <div class="row no-gutters">
      <div class="col-md-6 light-font">
        <div class="skills-para">
          <p>Here is an exceptionally informative infographic which I have created to give you a little flavour of some of the skills I pride myself on.
          <br>
          <br>
          <br>
          In leiu of a legitimate unit of skill I'm using ski lifts to denote ability, one ski lift meaning that I am on the proverbial beginner slope and five meaning I'm crushing those double black diamonds, a real expert.
          </p>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="skill-chart">
          <div class="skill-names light-font"">
            <p id="skill">HTML/CSS</p>
            <p id="skill">UI/UX</p>
            <p id="skill">Ruby</p>
            <p id="skill">Rails</p>
            <p id="skill">React Native</p>
            <p id="skill">Wit &amp Charm</p>
          </div>
          <div class="skill-score">
            <div class="skill-score-line">
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
            </div>
            <div class="skill-score-line">
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilifthalf", width: 25, height: 50, id: "ski-lift-half"%>
            </div>
            <div class="skill-score-line">
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
            </div>
            <div class="skill-score-line">
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilifthalf", width: 25, height: 50, id: "ski-lift-half"%>
            </div>
            <div class="skill-score-line">
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
            </div>
            <div class="skill-score-line">
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
              <%= image_tag "skilift", width: 50, height: 50, id: "ski-lift"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="previous-work" class="white-banner">
  <div class="container">
    <div class="row no-gutters">
      <h1 class="text-center">My Work</h1>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 work-individual">
        <%= image_tag "DTP-text-oneline", height: 45, width: 107.5, class: "work-image-center" %>
        <p id="line-height">The player availability solution for today’s amateur sports community. Down To Play is a React Native mobile application which has been under development since August of 2018 with an estimated release in late Novemeber of the same year. My first foray into the world of mobile development, DTP is being developed by a team of three young developers for Freehouse Ideas. The key idea by DTP is to streamline the availability process in the amateur sports world, starting with football in the London area and hoping to branch out to multiple sports across the UK. DTP utilises a rails API backened coupled with a React Native frontend for a seamless user experience.</p>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 work-individual">
        <%= image_tag "Voyagr-logo", height: 25.5, width: 107.5, class: "work-image-center" %>
        <p id="line-height">Since late <%= link_to "2016", "http://gs.statcounter.com/press/mobile-and-tablet-internet-usage-exceeds-desktop-for-first-time-worldwide", target: "_blank", class: "voyagr" %> worldwide mobile and tablet internet usage has exceeded desktop usage. This means that websites designed without mobile and tablet users in mind will be excluding over half of their potential audience. As such, I wanted to work on a project which would provide for this preponderant group first, in order to develop my mobile-first skillset. Voyagr is a facebook chatbot and associated rails app developed in just two weeks to showcase skills acquired at Le Wagon's coding bootcamp. It provides tailored travel inspiration based on the answers a user gives to a facebook quiz, alongside a couple of other features. </p>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 work-individual">
        <%= image_tag "Le Wagon", height: 45, width: 107.5, class: "work-image-center" %>
        <p id="line-height">I am currently working as a teacher at Le Wagon London. We are proud to be ranked as the #1 coding bootcamp in the world according to <%= link_to "SwitchUp", "https://www.switchup.org/research/best-coding-bootcamps", target: "_blank", class: "voyagr" %> and <%= link_to "Coursereport", "https://www.coursereport.com/schools/le-wagon", target: "_blank", class: "voyagr" %>. We offer an intensive nine week program which teaches Ruby/Rails, Javascript/JQuery, HTML/CSS, SQL and a whole host of other tools. </p>
      </div>
    </div>
  </div>
</div>
<div id="where" class="map-banner">
  <h2>Where to find me</h2>
  <br>
  <br>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
  ></div>
</div>

<div id="contact" class="white-banner">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center contact-info contact-links">
        <h1>Interested?</h1>
        <p id="line-height">I am currently under contract for the next two months, but if you like what you've seen here and would like to get into contact with me just hit on one of the links below to contact me via LinkedIn, Github, Facebook or Email. If you are interested in having me build a website for you then e-mail is the best way to get in touch. Cheers! </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row no-gutters">
    <div class="link-holder">
      <div class="col-xs-6 col-sm-3">
        <%= link_to "", "https://www.linkedin.com/in/ben-fanning-28523315b/", target: "_blank", class: "links fab fa-linkedin" %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= link_to "", "https://github.com/fanninggg", target: "_blank", class: "links fab fa-github" %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= link_to "", "https://www.facebook.com/fanninggg", target: "_blank", class: "links fab fa-facebook-f" %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= link_to "", "mailto:ben@voyagr.co.uk", class: "links far fa-envelope" %>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body cv-holder">
        <%= image_tag "benFanning", id: "resume" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  AOS.init();
</script>

<script>
  var app = document.getElementById('app');

  var typewriter = new Typewriter(app, {
      loop: true
  });

typewriter.typeString('Full Stack Developer')
    .pauseFor(500)
    .deleteAll()
    .typeString('Front End Developer')
    .pauseFor(500)
    .deleteAll()
    .typeString('Powderhound')
    .pauseFor(500)
    .start();
</script>

<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>

